* {
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  margin: 0;
  background: linear-gradient(90deg, #191825 1.18%, #e384ff 100%);
}

main {
  padding: 36px;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #ae445a 1.18%, #7a316f 100%);
  color: white;
  padding: 20px;
}

.header--logo {
  height: 90%;
  gap: 2rem;
  padding-right: 5px;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--credit {
  font-size: 0.85rem;
  font-weight: 500;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  row-gap: 45%;
  margin-top: 25px;
}

.form--input {
  font-family: 'Karla', sans-serif;
  border-radius: 5px;
  border: 1px solid #FFA3FD;
  text-indent: 5px;
}

.form--select {
  border-radius: 5px;
  border: 1px solid #FFA3FD;
}

.form--button {
  grid-column: 1 / -1;
  font-family: 'Karla', sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #ae445a 1.14%, #7a316f 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.content {
  max-width: 1200px;
  margin: 20px auto;
  padding-top: 6.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 25px;
  grid-gap: 25px;
  grid-auto-flow: dense;
  align-items: stretch;
  width: 100%;
}
.space--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background: linear-gradient(90deg, #ae445a 1.18%, #7a316f 100%);;
  color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px;
}

.close {
  color: #F2F7A1;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #FEC260;
  text-decoration: none;
  cursor: pointer;
}

.modal-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: 80%;
}

h2 {
  font-size: 24px;
  margin-top: 20px;
}

h3 {
  font-size: 20px;
  margin-top: 10px;
}

h4 {
  font-size: 16px;
  margin-top: 10px;
}

p {
  margin-top: 10px;
  display: flex;
  text-align: justify;
  line-height: 1.5;
  word-spacing: 2px;
}

a {
  color: #FEC260;
  text-decoration: none;
}

.modal--keyWord {
  text-align: justify;
  line-height: 1.5;
  word-spacing: 2px;
}
